ejercicio2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="usuarios">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="usuario">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="nombre" type="xs:string" />
              <xs:element name="apellido" type="xs:string" />
              <xs:element name="direccion">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element name="pais" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="ciudad" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="contacto">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="telefono" type="xs:string" />
                    <xs:element name="url" type="xs:string" />
                    <xs:element name="email" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="preferencia" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
	</xs:element>
	</xs:schema>
	
	
	